<footer class="clearfix">
      
      <!--nav>
        <div class="head clearfix">
          <span class="upper">About Us</span>
        </div>
        <ul>
          <li><a href="/pages/our-story">Our Story</a></li>
          <li><a href="/pages/our-philosophy">Our Philosophy</a></li>
          <li><a href="/pages/meet-our-artisans">Meet Our Artisans</a></li>
          <li><a href="/pages/customer-love">Customer Love</a></li>
        </ul>
      </nav>
      <nav>
        <div class="head clearfix">
          <span class="upper">Customer Care</span>
        </div>
        <ul>
          <li><a href="/pages/contact-us">Contact Us</a></li>
          <li><a href="/pages/shipping">Shipping</a></li>
          <li><a href="/pages/returns-exchanges-policies">Returns & Exchanges</a></li>
          <li><a href="/pages/faqs">FAQs </a></li>
          <li><a href="/collections/all">All Products</a></li>
        </ul>
      </nav>
      <nav>
        <div class="head clearfix">
          <span class="upper">Our Bicyclettes</span>
        </div>
        <ul>
          <li><a href="/pages/about-our-women-s-bicycles">About Our Women's Bicycles</a></li>
          <li><a href="/pages/meet-the-framebuilder">Meet the Framebuilder</a></li>
          <li><a href="/pages/bicycle-shipping-faqs">Bicycle Shipping FAQ's</a></li>
          <li><a href="/pages/bicycle-returns-exchanges">Bicycle Returns & Exchanges</a></li>
        </ul>
      </nav>
      <nav class="last">
        <div class="head clearfix">
          <span class="upper">Stockists</span>
        </div>
        <ul>
          <li><a href="/pages/stockist-apparel-accessories-home">Become a Stockist - Apparel</a></li>
          <li><a href="/pages/stockists-of-womens-everyday-bicycles">Become a Stockist - Bicycles</a></li>
          <li><a href="/pages/become-a-featured-artisan">Become an Artisan</a></li>
          <li><a href="/pages/link-to-us">Link to Us</a></li>
        </ul>
      </nav-->
      
      <div class="contact clearfix">
	    <ul>
	      <li><strong>Call Us:</strong><span>480.359.6073</span></li>
	      <li><strong>Email Us:</strong><span><a href="mailto:hello@bicyclette.com">hello@bicyclette.com</a></span></li>
	      <li class="social">
	      <strong>Get Social with Us:</strong>
	      <a href="http://www.facebook.com/mybicyclette"><span class="fa fa-facebook"></span></a>
	      <a class="instagram" href="http://www.instagram.com/mybicyclette"><span class="fa fa-instagram"></span></a>
	      <a class="pinterest" href="http://www.pinterest.com/mybicyclette"><span class="fa fa-pinterest"></span></a>
	      <a class="rss" href="http://inspiredbythebike.com/" title="blog"><span class="fa fa-rss-square"></span></a>
	      <a class="email" href="mailto:hello@bicyclette.com"><span class="fa fa-envelope"></span></a>
	      </li>
	    </ul>
    </div>
    </footer>
    <div class="additional-info">
      &copy; {{ site.time | date: '%Y' }} Bicyclette.com
      <!--div class="credit">Accept Visa, Mastercard, PayPal</div-->
    </div>