<header>
<div id="head" class="clearfix"><div class="inner">
	<div class="main-nav">
		<a class="badge" href="http://www.bicyclette.com">Bicyclette</a>
        <!--nav class="main">
		<ul class="nav">
		<li><a href="/collections/bicycles"><span>Bicycles</span></a></li>
		<li><a href="/collections/bike-accessories"><span>Bike Accessories</span></a></li>
		<li><a href="/collections/for-the-home"><span>Home & Decor</span></a></li>
		<li><a href="/collections/apparel"><span>Apparel</span></a></li>
		<li><a href="/pages/our-story"><span>Our Story</span></a></li>
		</ul>
		</nav-->
		<a class="logo" href="http://www.bicyclette.com">Bicyclette</a>
	</div>      
</div></div>
</header>